@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.apply-now-button{
  background-color:#F590C1;
  color: white;
}

.learn-more-button{
  color: #4434A6;          
}

.apply-now-button:hover{
  background-color: #ffff82;
  color: #4434A6;
} 

.learn-more-button:hover{
  background-color: #4434A6;
  color: white;
} 
