doctype html
head
  meta(http-equiv='content-type' content='text/html' charset='utf-8')
  title program_overviews
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='')
  link(rel='StyleSheet' href='program_overviews.css')
  script(src='https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6')
  // Add your custom HEAD content here
#content-container
  #_bg__program_overviews(nameid='Program Overviews')
  #parents(nameid='Parents')
    | Program Overviews
  #directory___page___subpage(nameid='Directory > Page > Subpage')
    | Directory &gt; Page &gt; Subpage
  img#line_1(src='skins/line_1.png' nameid='Line 1')
  img#line_2(src='skins/line_2.png' nameid='Line 2')
  img#line_3(src='skins/line_3.png' nameid='Line 3')
  img#line_4(src='skins/line_4.png' nameid='Line 4')
  #text_block_hero_title_body_actionrow_2_line_title(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
    #_bg__text_block_hero_title_body_actionrow_2_line_title_ek1(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
    #body(nameid='Body')
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
      br
      | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #text_block_hero_title_body_actionrow_2_line_title_ek2(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
    #_bg__text_block_hero_title_body_actionrow_2_line_title_ek3(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
    #body_ek1(nameid='Body')
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
      br
      | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    #subheading(nameid='SubHeading')
      | Dance
  img#line_5(src='skins/line_5.png' nameid='Line 5')
  img#line_6(src='skins/line_6.png' nameid='Line 6')
  #body_ek2(nameid='Body')
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
    br
    | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #subheading_ek1(nameid='SubHeading')
    | Instrumental Arts
  img#line_7(src='skins/line_7.png' nameid='Line 7')
  img#line_8(src='skins/line_8.png' nameid='Line 8')
  #body_ek3(nameid='Body')
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
    br
    | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #subheading_ek2(nameid='SubHeading')
    | Theater
  img#line_9(src='skins/line_9.png' nameid='Line 9')
  img#line_10(src='skins/line_10.png' nameid='Line 10')
  #body_ek4(nameid='Body')
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
    br
    | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #subheading_ek3(nameid='SubHeading')
    | Literary Arts
  img#line_11(src='skins/line_11.png' nameid='Line 11')
  img#line_12(src='skins/line_12.png' nameid='Line 12')
  #body_ek5(nameid='Body')
    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
    br
    | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #subheading_ek4(nameid='SubHeading')
    | Visual Arts
  #footer(nameid='footer' component='true')
    #_bg__footer_ek1(nameid='footer')
    #rectangle(nameid='Rectangle')
  #button_label(nameid='Button Label')
    | 6th  Grade
  #button_label_ek1(nameid='Button Label')
    | 6th  Grade
  #bg(nameid='BG')
  #button_label_ek2(nameid='Button Label')
    | Literary Arts
  #bg_ek1(nameid='BG')
  #button_label_ek3(nameid='Button Label')
    | Visual Arts
  #bg_ek2(nameid='BG')
  #button_label_ek4(nameid='Button Label')
    | Figure Skating
  #bg_ek3(nameid='BG')
  #button_label_ek5(nameid='Button Label')
    | Vocal Music
  #bg_ek4(nameid='BG')
  #bg_ek5(nameid='BG')
  #button_label_ek6(nameid='Button Label')
    | Dance
  #bg_ek6(nameid='BG')
  #button_label_ek7(nameid='Button Label')
    | Instrumental
  #button_label_ek8(nameid='Button Label')
    | Theater
  #header(nameid='Header' component='true')
    #_bg__header_ek1(nameid='Header')
    #welcome_(nameid='Welcome!')
      | Welcome!
    #frame(nameid='Frame')
      #_bg__frame_ek1(nameid='Frame')
      #home(nameid='Home')
        | Home
      #admissions(nameid='Admissions')
        | Admissions
      #events(nameid='Events')
        | Events
      #curriculum(nameid='Curriculum')
        | Curriculum
      #family_resource(nameid='Family Resource')
        | Family Resources
      #socials(nameid='Socials')
        #_bg__socials_ek1(nameid='Socials')
        img#youtubelogo_1(src='skins/youtubelogo_1.png' nameid='youtubelogo 1')
        #instalogo_1(nameid='instalogo 1')
          #_bg__instalogo_1_ek1(nameid='instalogo 1')
          #group(nameid='Group')
            #_bg__group_ek1(nameid='Group')
            img#vector(src='skins/vector.png' nameid='Vector')
            img#vector_ek1(src='skins/vector_ek1.png' nameid='Vector')
            img#vector_ek2(src='skins/vector_ek2.png' nameid='Vector')
            img#vector_ek3(src='skins/vector_ek3.png' nameid='Vector')
            img#vector_ek4(src='skins/vector_ek4.png' nameid='Vector')
        img#facebooklogo_1(src='skins/facebooklogo_1.png' nameid='facebooklogo 1')
    #search_bar(nameid='Search Bar')
      #_bg__search_bar_ek1(nameid='Search Bar')
      #search_bar_ek2(nameid='Search Bar')
      #search(nameid='Search')
        | Search
    img#header2_1(src='skins/header2_1.png' nameid='Header2 1')
    img#screenshot_2023_10_25_at_2_05_1(src='skins/screenshot_2023_10_25_at_2_05_1.png' nameid='Screenshot_2023-10-25_at_2.05 1')
    #ada_button(nameid='ADA Button')
      #_bg__ada_button_ek1(nameid='ADA Button')
      #ada_button_background(nameid='ADA Button Background')
      img#ada_wheelchair_symbol(src='skins/ada_wheelchair_symbol.png' nameid='ADA Wheelchair Symbol')
    #next_event__join_us_for_open_mic_night_on_thursday__november_16th_from_5pm_7pm__all_are_welcome_to_perform__details_in_the_slide_below_(nameid='Next Event: Join us for Open Mic Night on Thursday, November 16th from 5pm7pm. All are welcome to perform! Details in the slide below.')
      | Next Event: Join us for Open Mic Night on Thursday, November 16th from 5pm
      span.char %E2%80%937
      | 7pm. All are welcome to perform! Details in the slide below.
  #group_1(nameid='Group 1')
    #_bg__group_1_ek1(nameid='Group 1')
    #rectangle_1(nameid='Rectangle 1')
    #rectangle_2(nameid='Rectangle 2')
    #parents_ek1(nameid='Parents')
      | Curriculum
    #subpage_list(nameid='Subpage list')
      | Academics
      br
      | Program Overviews
      br
      | etc
      br
      | etc
      br
      | etc
      br
      | etc
script.
  var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }