doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    meta(http-equiv='content-type', content='text/html', charset='utf-8')
    | 
    title homepage
    | 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |
    meta(name='description', content='')
    | 
    link(rel='stylesheet', href='/stylesheets/style.css')
    | 
    script(src='https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6')
    // Add your custom HEAD content here
  | &#x9;
  body
    #content-container
      #page_homepage_ek1(nameid='Homepage')
        #_bg__homepage_ek2(nameid='Homepage')
        | &#x9;&#x9;&#x9;&#x9;
        #hero(nameid='Hero')
          #_bg__hero_ek1(nameid='Hero')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #mask(nameid='Mask')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #hero_content(nameid='Hero-Content')
            #_bg__hero_content_ek1(nameid='Hero-Content')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #text_block_hero_title_body_actionrow_2_line_title(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
              #_bg__text_block_hero_title_body_actionrow_2_line_title_ek1(nameid='Text-Block/Hero/Title-Body-ActionRow/2-Line-Title')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #body(nameid='Body')
                | AACMS is an arts-focused public middle school for students in grades five through eight with a passion for the arts. Any Pennsylvania student is eligible to enroll via an application and interview process. 
                br
                | Learn more about how your child can join our community of student artists below!
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #apply_now(nameid='Apply Now')
              #_bg__apply_now_ek1(nameid='Apply Now')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label(nameid='Button Label')
                | Apply Now!
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #learn_more(nameid='Learn More')
              #_bg__learn_more_ek1(nameid='Learn More')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek1(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek1(nameid='Button Label')
                | Learn More
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#photo_slideshow(src='images/photo_slideshow.png', nameid='Photo Slideshow')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #quick_nav(nameid='Quick Nav')
            #_bg__quick_nav_ek1(nameid='Quick Nav')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #quick_navigation(nameid='Quick Navigation')
              | Quick Navigation
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option6(nameid='option6')
              #_bg__option6_ek1(nameid='option6')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek2(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek2(nameid='Button Label')
                | Transportation
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option5(nameid='option5')
              #_bg__option5_ek1(nameid='option5')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek3(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek3(nameid='Button Label')
                | Menus
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option4(nameid='option4')
              #_bg__option4_ek1(nameid='option4')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek4(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek4(nameid='Button Label')
                | Schoology
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option3(nameid='option3')
              #_bg__option3_ek1(nameid='option3')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek5(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek5(nameid='Button Label')
                | Powerschool
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option2(nameid='option2')
              #_bg__option2_ek1(nameid='option2')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek6(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek6(nameid='Button Label')
                | Calendar
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #option1(nameid='option1')
              #_bg__option1_ek1(nameid='option1')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #bg_ek7(nameid='BG')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #button_label_ek7(nameid='Button Label')
                | Weekly Newletter
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #group_9(nameid='Group 9')
            #_bg__group_9_ek1(nameid='Group 9')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #group_8(nameid='Group 8')
              #_bg__group_8(nameid='Group 8')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_1(nameid='Ellipse 1')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_2(nameid='Ellipse 2')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_3(nameid='Ellipse 3')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_4(nameid='Ellipse 4')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_5(nameid='Ellipse 5')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #ellipse_6(nameid='Ellipse 6')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            img#polygon_1(src='images/polygon_1.png', nameid='Polygon 1')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            img#polygon_2(src='images/polygon_2.png', nameid='Polygon 2')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #title(nameid='Title')
            | Arts Academy Charter 
            br
            | Middle School
        | &#x9;&#x9;&#x9;&#x9;
        img#homepage_mid(src='images/homepage_mid.png', nameid='Homepage Mid')
        | &#x9;&#x9;&#x9;&#x9;
        #contact(nameid='Contact')
          #_bg__contact_ek1(nameid='Contact')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#rectangle(src='images/rectangle.png', nameid='Rectangle')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#icons_removebg_preview_2(src='images/icons_removebg_preview_2.png', nameid='icons-removebg-preview 2')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#icons_removebg_preview_3(src='images/icons_removebg_preview_3.png', nameid='icons-removebg-preview 3')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#icons_removebg_preview_4(src='images/icons_removebg_preview_4.png', nameid='icons-removebg-preview 4')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#icons_removebg_preview_1(src='images/icons_removebg_preview_1.png', nameid='icons-removebg-preview 1')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #contact_us(nameid='Contact Us')
            | Contact Us
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #hours(nameid='Hours')
            | School &amp; Office Hours
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #__610__351_0234(nameid='(610) 351-0234')
            | (610) 351-0234
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #_1610_east_emmaus_avenue_allentown__pa_18103(nameid='1610 East Emmaus Avenue Allentown, PA 18103')
            | 1610 East Emmaus Avenue Allentown, PA 18103
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #_7_45_am___2_00_pm(nameid='7:45 am - 2:00 pm')
            | 7:45 am - 2:00 pm
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #for_students_(nameid='For Students:')
            | For Students:
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #offices_(nameid='Offices:')
            | Offices:
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #_7_30_am___3_30_pm(nameid='7:30 am - 3:30 pm')
            | 7:30 am - 3:30 pm
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #__610__351_0307(nameid='(610) 351-0307')
            | (610) 351-0307
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #mainoffice_arts_cs_org(nameid='mainoffice@arts-cs.org')
            a(href='mailto:mainoffice@arts-cs.org', target='_blank') mainoffice@arts-cs.org
        | &#x9;&#x9;&#x9;&#x9;
        #footer(nameid='footer')
          #_bg__footer(nameid='footer')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #rectangle_ek1(nameid='Rectangle')
        | &#x9;&#x9;&#x9;&#x9;
        #header(nameid='Header')
          #_bg__header(nameid='Header')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #welcome_(nameid='Welcome!')
            | Welcome!
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #frame(nameid='Frame')
            #_bg__frame_ek1(nameid='Frame')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #home(nameid='Home')
              | Home
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #admissions(nameid='Admissions')
              | Admissions
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #events(nameid='Events')
              | Events
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #curriculum(nameid='Curriculum')
              | Curriculum
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #family_resource(nameid='Family Resource')
              | Family Resources
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #socials(nameid='Socials')
              #_bg__socials_ek1(nameid='Socials')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              img#youtubelogo_1(src='images/youtubelogo_1.png', nameid='youtubelogo 1')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #instalogo_1(nameid='instalogo 1')
                #_bg__instalogo_1_ek1(nameid='instalogo 1')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                #group(nameid='Group')
                  #_bg__group_ek1(nameid='Group')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img#vector(src='images/vector.png', nameid='Vector')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img#vector_ek1(src='images/vector_ek1.png', nameid='Vector')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img#vector_ek2(src='images/vector_ek2.png', nameid='Vector')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img#vector_ek3(src='images/vector_ek3.png', nameid='Vector')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  img#vector_ek4(src='images/vector_ek4.png', nameid='Vector')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              img#facebooklogo_1(src='images/facebooklogo_1.png', nameid='facebooklogo 1')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #search_bar(nameid='Search Bar', component='true')
            #_bg__search_bar_ek1(nameid='Search Bar')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #search_bar_ek2(nameid='Search Bar')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #search(nameid='Search')
              | Search
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#header2_1(src='images/header2_1.png', nameid='Header2 1')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          img#screenshot_2023_10_25_at_2_05_1(src='images/screenshot_2023_10_25_at_2_05_1.png', nameid='Screenshot_2023-10-25_at_2.05 1')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #ada_button(nameid='ADA Button')
            #_bg__ada_button_ek1(nameid='ADA Button')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #ada_button_background(nameid='ADA Button Background')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            img#ada_wheelchair_symbol(src='images/ada_wheelchair_symbol.png', nameid='ADA Wheelchair Symbol')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #next_event__join_us_for_open_mic_night_on_thursday__november_16th_from_5pm_7pm__all_are_welcome_to_perform__details_in_the_slide_below_(nameid='Next Event: Join us for Open Mic Night on Thursday, November 16th from 5pm7pm. All are welcome to perform! Details in the slide below.')
            | Next Event: Join us for Open Mic Night on Thursday, November 16th from 5pm
            span.char %E2%80%937
            | 7pm. All are welcome to perform! Details in the slide below.
    | &#x9;&#x9;
    script.
      var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }