/*
	@name style
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1350px; width: 1350px; height: 1912px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_homepage_ek1 {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 1912px;
}

#_bg__homepage_ek2 {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 1912px;
	background:rgba(255,255,255,1);
}

#hero {
	top: 6px;
	left: 3.86px;
	width: 1348.13px;
	height: 961px;
}

#_bg__hero_ek1 {
	top: -6px;
	left: -4px;
	width: 1348.13px;
	height: 961px;
	
}


#mask {
	top: 0px;
	left: 0px;
	width: 1348.13px;
	height: 961px;
	background:rgba(255,255,255,0);
}

#hero_content {
	top: 333px;
	left: 560px;
	width: 503.56px;
	height: 364.18px;
}

#_bg__hero_content_ek1 {
	top: -339px;
	left: -564px;
	width: 503.56px;
	height: 364.18px;
	
}

#text_block_hero_title_body_actionrow_2_line_title {
	top: 0px;
	left: 0px;
	width: 503.56px;
	height: 296.27px;
}

#_bg__text_block_hero_title_body_actionrow_2_line_title_ek1 {
	top: 0px;
	left: 0px;
	width: 503.56px;
	height: 296.27px;
	
}


#body {
	top: 47.5px;
	left: 0px;
	width: 542.5px;
	height: 233.5px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color:#4434A6;
}

#apply_now {
	top: 301px;
	left: 26px;
	width: 200.63px;
	height: 63.31px;
}

#_bg__apply_now_ek1 {
	top: -2px;
	left: -2px;
	width: 200.63px;
	height: 63.31px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg {
	top: 0px;
	left: 0px;
	width: 201px;
	height: 63px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(245,144,193,1);
}


#button_label {
	top: 19px;
	left: -4px;
	width: 208.4px;
	height: 33.4px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#learn_more {
	top: 301px;
	left: 285px;
	width: 197.09px;
	height: 63.25px;
}

#_bg__learn_more_ek1 {
	top: -3px;
	left: -3px;
	width: 197.09px;
	height: 63.25px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#bg_ek1 {
	opacity:0;
	top: -3px;
	left: -3px;
	width: 197px;
	height: 63px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 3px solid #4434a6;
	background:rgba(68,52,166,0);
}


#button_label_ek1 {
	top: 19px;
	left: -4px;
	width: 204.4px;
	height: 33.4px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: center;
	line-height: 26px;
	color:#4434A6;
}


#photo_slideshow {
	top: 232px;
	left: 36px;
	width: 466px;
	height: 495px;
}

#quick_nav {
	top: 249px;
	left: 1127px;
	width: 176.77px;
	height: 461.71px;
}

#_bg__quick_nav_ek1 {
	top: -255px;
	left: -1131px;
	width: 176.77px;
	height: 461.71px;
	
}


#quick_navigation {
	top: -1px;
	left: 6px;
	width: 187.3px;
	height: 35.65px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 23px;
	text-align: left;
	line-height: 30px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}

#option6 {
	top: 409px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option6_ek1 {
	top: -2px;
	left: -2px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek2 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(68,52,166,1);
}


#button_label_ek2 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#option5 {
	top: 334px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option5_ek1 {
	top: -2px;
	left: -2px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek3 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(68,52,166,1);
}


#button_label_ek3 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#option4 {
	top: 261px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option4_ek1 {
	top: -2px;
	left: -2px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek4 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(68,52,166,1);
}


#button_label_ek4 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#option3 {
	top: 187px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option3_ek1 {
	top: -2px;
	left: -2px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek5 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(68,52,166,1);
}


#button_label_ek5 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#option2 {
	top: 113px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option2_ek1 {
	top: 0px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek6 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
	background:rgba(68,52,166,1);
}


#button_label_ek6 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#option1 {
	top: 40px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
}

#_bg__option1_ek1 {
	top: 0px;
	left: 0px;
	width: 176.6px;
	height: 53.16px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	
}


#bg_ek7 {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 53px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(68,52,166,1);
}


#button_label_ek7 {
	top: 14px;
	left: -3px;
	width: 184px;
	height: 39px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	color:#FFFFFF;
}

#group_9 {
	top: 697px;
	left: 149px;
	width: 240.94px;
	height: 18.55px;
}

#_bg__group_9_ek1 {
	top: -703px;
	left: -153px;
	width: 240.94px;
	height: 18.55px;
	
}

#group_8 {
	top: 1px;
	left: 30px;
	width: 180.3px;
	height: 14.84px;
}

#_bg__group_8 {
	top: 0px;
	left: 0px;
	width: 180.3px;
	height: 14.84px;
	
}


#ellipse_1 {
	opacity:0.80000001192093;
	top: -1px;
	left: -1px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(161,218,253,0.8);
}


#ellipse_2 {
	opacity:0.80000001192093;
	top: -1px;
	left: 31.78px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(161,218,253,0.8);
}


#ellipse_3 {
	opacity:0.80000001192093;
	top: -1px;
	left: 64.56px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(68,52,166,0.8);
}


#ellipse_4 {
	opacity:0.80000001192093;
	top: -1px;
	left: 97.34px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(161,218,253,0.8);
}


#ellipse_5 {
	opacity:0.80000001192093;
	top: -1px;
	left: 130.12px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(161,218,253,0.8);
}


#ellipse_6 {
	opacity:0.80000001192093;
	top: -1px;
	left: 162.91px;
	width: 16.39px;
	height: 14.84px;
	-ms-border-radius: 8.2px / 7.42px;
	-o-border-radius: 8.2px / 7.42px;
	-moz-border-radius: 8.2px / 7.42px;
	-webkit-border-radius: 8.2px / 7.42px;
	border-radius: 8.2px / 7.42px;
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(161,218,253,0.8);
}


#polygon_1 {
	top: -1px;
	left: -1px;
	width: 15.37px;
	height: 16.06px;
}


#polygon_2 {
	top: -1px;
	left: 224px;
	width: 15.37px;
	height: 16.06px;
}


#title {
	top: 231px;
	left: 534px;
	width: 565px;
	height: 128.8px;
	overflow: hidden;
	font-family: Sanchez;
	font-size: 48px;
	text-align: center;
	line-height: 66px;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}


#homepage_mid {
	top: 758px;
	left: 1.88px;
	width: 1350px;
	height: 750px;
}

#contact {
	top: 1508px;
	left: -515.62px;
	width: 2354.61px;
	height: 933.68px;
}

#_bg__contact_ek1 {
	top: -1508px;
	left: 516px;
	width: 2354.61px;
	height: 933.68px;
	
}


#rectangle {
	top: 0px;
	left: 516px;
	width: 1350px;
	height: 404px;
}


#icons_removebg_preview_2 {
	top: 229px;
	left: 1001px;
	width: 56px;
	height: 56px;
}


#icons_removebg_preview_3 {
	top: 156px;
	left: 997px;
	width: 60px;
	height: 58px;
}


#icons_removebg_preview_4 {
	top: 156px;
	left: 636px;
	width: 62px;
	height: 58px;
}


#icons_removebg_preview_1 {
	top: 231px;
	left: 639px;
	width: 54px;
	height: 53px;
}


#contact_us {
	top: 96px;
	left: 859px;
	width: 234.8px;
	height: 55.8px;
	overflow: hidden;
	font-family: Sanchez;
	font-size: 38px;
	text-align: left;
	line-height: 48px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	color:#091133;
}


#hours {
	top: 96px;
	left: 1396px;
	width: 430.8px;
	height: 55.8px;
	overflow: hidden;
	font-family: Sanchez;
	font-size: 38px;
	text-align: left;
	line-height: 48px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	color:#091133;
}


#__610__351_0234 {
	top: 236px;
	left: 711px;
	width: 173.4px;
	height: 74.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-decoration: underline;
	text-align: left;
	line-height: 48px;
	margin-top: -8px;
	height: 98.4px;
	color:#000000;
}


#_1610_east_emmaus_avenue_allentown__pa_18103 {
	top: 163px;
	left: 711px;
	width: 279.4px;
	height: 50.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-align: left;
	line-height: 25px;
	color:#000000;
}


#_7_45_am___2_00_pm {
	top: 165px;
	left: 1580px;
	width: 205.4px;
	height: 23.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-align: left;
	line-height: 25px;
	color:#000000;
}


#for_students_ {
	top: 165px;
	left: 1417px;
	width: 159.4px;
	height: 22.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	color:#000000;
}


#offices_ {
	top: 214px;
	left: 1417px;
	width: 159.4px;
	height: 22.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 25px;
	color:#000000;
}


#_7_30_am___3_30_pm {
	top: 214px;
	left: 1580px;
	width: 205.4px;
	height: 22.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-align: left;
	line-height: 25px;
	color:#000000;
}


#__610__351_0307 {
	top: 161px;
	left: 1075px;
	width: 176.4px;
	height: 55.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-align: left;
	line-height: 48px;
	margin-top: -8px;
	height: 79.4px;
	color:#000000;
}


#mainoffice_arts_cs_org {
	top: 229px;
	left: 1075px;
	width: 249.4px;
	height: 55.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	text-decoration: underline;
	text-align: left;
	line-height: 48px;
	margin-top: -8px;
	height: 79.4px;
	color:#000000;
}

#footer {
	top: 1840px;
	left: 0px;
	width: 1350px;
	height: 72px;
}

#_bg__footer {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 72px;
	
}


#rectangle_ek1 {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 72px;
	background:rgba(68,52,166,1);
}

#header {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 157px;
}

#_bg__header {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 157px;
	background:rgba(255,255,255,1);
}


#welcome_ {
	top: 51px;
	left: 234.85px;
	width: 250.36px;
	height: 55.8px;
	overflow: hidden;
	font-family: Sanchez;
	font-size: 48px;
	text-align: left;
	line-height: 38px;
	padding-top: 10px;
	margin-top: -10px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}

#frame {
	top: 105.01px;
	left: 0px;
	width: 1350px;
	height: 51.99px;
}

#_bg__frame_ek1 {
	top: 0px;
	left: 0px;
	width: 1350px;
	height: 51.99px;
	background:rgba(161,218,253,1);
}


#home {
	top: 2.5px;
	left: 4px;
	width: 168.4px;
	height: 52.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	line-height: 47.4px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}


#admissions {
	top: 2.5px;
	left: 208px;
	width: 152.4px;
	height: 52.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	line-height: 47.4px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}


#events {
	top: 2.5px;
	left: 396px;
	width: 145.4px;
	height: 52.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	line-height: 47.4px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}


#curriculum {
	top: 2.5px;
	left: 577px;
	width: 154.4px;
	height: 52.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	line-height: 47.4px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}


#family_resource {
	top: 2.5px;
	left: 767px;
	width: 196.4px;
	height: 52.4px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 24px;
	line-height: 47.4px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #4434a6;
	color:#4434A6;
}

#socials {
	top: 6.5px;
	left: 1004px;
	width: 337px;
	height: 39px;
}

#_bg__socials_ek1 {
	top: 0px;
	left: 0px;
	width: 337px;
	height: 39px;
	
}


#youtubelogo_1 {
	top: 4px;
	left: 74px;
	width: 48px;
	height: 29px;
}

#instalogo_1 {
	top: -7.64px;
	left: 147px;
	width: 57.38px;
	height: 52.29px;
}

#_bg__instalogo_1_ek1 {
	top: 0px;
	left: 0px;
	width: 57.38px;
	height: 52.29px;
	
}

#group {
	top: 10.48px;
	left: 11.69px;
	width: 34.59px;
	height: 32.81px;
}

#_bg__group_ek1 {
	top: -10px;
	left: -12px;
	width: 34.59px;
	height: 32.81px;
	
}


#vector {
	top: 0px;
	left: 0px;
	width: 34.59px;
	height: 32.81px;
}


#vector_ek1 {
	top: 0px;
	left: 0px;
	width: 34.59px;
	height: 32.81px;
}


#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 34.59px;
	height: 32.81px;
}


#vector_ek3 {
	top: -1px;
	left: -1px;
	width: 34.59px;
	height: 32.81px;
}


#vector_ek4 {
	top: 4px;
	left: 4px;
	width: 25.72px;
	height: 24.38px;
}


#facebooklogo_1 {
	top: 2.5px;
	left: 229.38px;
	width: 30px;
	height: 32px;
}

#search_bar {
	top: 57px;
	left: 1071.89px;
	width: 207.62px;
	height: 32px;
}

#_bg__search_bar_ek1 {
	top: -1px;
	left: -1px;
	width: 207.62px;
	height: 32px;
	border: 1px solid #3734a6;
	
}


#search_bar_ek2 {
	opacity:0;
	top: -1px;
	left: -1px;
	width: 207.62px;
	height: 32px;
	border: 1px solid #3734a6;
	background:rgba(217,217,217,0);
}


#search {
	top: 0.84px;
	left: 4.94px;
	width: 68.98px;
	height: 29.7px;
	overflow: hidden;
	font-family: Sanchez;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: -4.6666666666667px;
	height: 45.7px;
	color:#4434A6;
}


#header2_1 {
	top: 0px;
	left: 18.35px;
	width: 204.38px;
	height: 105.01px;
}


#screenshot_2023_10_25_at_2_05_1 {
	top: 48px;
	left: 484.6px;
	width: 58.13px;
	height: 44.86px;
}

#ada_button {
	top: 6.12px;
	left: 1287.19px;
	width: 56.25px;
	height: 54.88px;
}

#_bg__ada_button_ek1 {
	top: -6px;
	left: -1287px;
	width: 56.25px;
	height: 54.88px;
	
}


#ada_button_background {
	top: 0px;
	left: 0px;
	width: 56.25px;
	height: 54.88px;
	-ms-border-radius: 28.13px / 27.44px;
	-o-border-radius: 28.13px / 27.44px;
	-moz-border-radius: 28.13px / 27.44px;
	-webkit-border-radius: 28.13px / 27.44px;
	border-radius: 28.13px / 27.44px;
	border: 0px solid #000000;
	background:rgba(0,0,0,1);
}


#ada_wheelchair_symbol {
	top: 3px;
	left: 3px;
	width: 50.63px;
	height: 49.39px;
}


#next_event__join_us_for_open_mic_night_on_thursday__november_16th_from_5pm_7pm__all_are_welcome_to_perform__details_in_the_slide_below_ {
	top: 27px;
	left: 558.72px;
	width: 509px;
	height: 76px;
	overflow: hidden;
	font-family: League Spartan;
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	letter-spacing: 1px;
	color:#4434A6;
}



/* Add your custom CSS here */